@charset "utf-8";



input,
button,
textarea {
    outline: none;
    border: none;
    box-shadow: none;
}
input:focus,
button:focus,
textarea:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 44px;
}
h4 {
    font-size: 39px;
}
h5 {
    font-size: 33px;
}
h6 {
    font-size: 33px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
video {
    display: block;
}
input,
button {
    background: none;
    outline: none;
}
a {
    color: #6528cb;
}
a:hover {
    text-decoration: none;
}
.clear {
    clear: both;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 20px;
    background: #eee;
}
input {
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 18px;
    text-align: left;
}
input[type="submit"]{
    background: #198CCB;
    color: #fff;
    min-width: 200px;
    text-align: center;
    border: none;
    cursor: pointer;
}
label{
    display: block;
}
.login_form{
    padding: 100px;
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
}
h1{
    text-align: center;
}
.login_form div{
    margin-bottom: 10px;
    vertical-align: middle;
}


.btn_login{
    display: block;
    margin: 0 auto;
}
.btn_form_login{
    min-width: 480px;
}
.go-reg{
    font-size: 15px;
}
@media screen and (max-width: 1440px) {

}
@media (min-width: 992px) and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    .login_form{
        text-align: center;
    }
}
@media screen and (max-width: 787px) {

}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 480px) {

}